/**
 * \file _typography.scss
 *
 * Partial sass file for css relating to page typogroaphy
 */

.heading-secondary {
    font-size: 2.5rem;
    color: $color-primary-black;
    border-bottom: 2px solid $color-primary-blue;
}

.cmpt-header-main {
    color: $color-primary-blue;
    font-size: 1.9rem;    
}

.cmpt-header-sub {
    font-size: 1.6rem;
}