/**
 * \file _invasion.scss
 *
 * Partial sass file for invasions
 */

.invasion-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;

    list-style: none;

    background-color: $color-white-dark;

    &--item {
        flex: 1 0 500px;
        border-radius: 2px;
        margin: 1rem;
        background-color: $color-primary-white;
        box-shadow: 0 0 2px 1px rgba($color-primary-black, .5);
    }
}

.invasion {
    font-size: 1.4rem;

    &__sides {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        align-content: space-between;

        &--left {
            margin-left: 1rem;
        }

        &--right {
            margin-right: 1rem;
        }
    }
}